a{
    text-decoration: none;
}
.logo{
    margin-left: 27%;
    border-radius: 50%;
}
.TituloPag{
    font-family:sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding-left: 5%;
}
.Header{
    display: flex;
    align-items: center;
    background-color: rgb(230, 229, 229);
}
.Navegador{
    padding: 10px; 
    font-family: serif;
    font-size: 30px;
    display: flex;
    margin-left: auto;
    margin-right: 4%;
    text-align: center;
    gap: 20px;
}
.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.sidebar {
  width: 20%;
  background: #fafafa;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}


.Navegador p{
    color: black;
}
.footer{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(230, 229, 229);
    padding: 10px;
    margin-top:30px;
}
body{
    margin: 0;
    padding: 0;
}
.sidebar2{
    width: 15%;
    background: #fafafa;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    height: 500px;
}

.grid, .productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.8);
  text-align: center;
  transition: transform 0.2s;
  padding: 1rem;
}
.btn_carrito{
text-align: center;
background: #007bff;
color: white;
padding: 10px 15px;
border-radius:20px;
text-decoration: none;
transition: (1, 0, 0, 1.3s);
}
img.img_carrito{
    vertical-align: -5px;
    margin-left: 8px;

}

.btn:hover{
    background: #0056b3;
}
.img_product{
    border-radius: 15px;
}

.productos2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card2 {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.8);
  text-align: center;
  transition: transform 0.2s;
  padding: 1rem;
}