a{
    text-decoration: none;
}
.logo{
    margin-left: 27%;
    border-radius: 50%;
}
.logo:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: ease 0.1s;
}
.TituloPag{
    font-family:sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    padding-left: 5%;
}
.Header{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.331);
    padding: 10px;
}
.Navegador{
    padding: 10px; 
    font-family: serif;
    font-size: 30px;
    display: flex;
    margin-left: auto;
    margin-right: 4%;
    text-align: center;
    gap: 20px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.Navegador p:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: ease 0.1s;
    color: black;
}
.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.sidebar {
  width: 15%;
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.331);
  height: 400px;
  margin-left: 1%;
  margin-right: auto;
}

.nombreProducto{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.Navegador p{
    color: rgba(0, 0, 0, 0.877);
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 252);
    box-sizing: border-box;
}
.sidebar2{
    width: 15%;
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.331);
    height: 700px;
    margin-left: auto;
    margin-right: 1%;
}

.contactodirecto{
    color: black;
    font-family: sans-serif;
    font-size: 12px;
}
.contactodirecto:hover{
    text-decoration: underline;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
  margin-left: 95px;
  margin-right: 75px;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.331);
  text-align: center;
  transition: transform 0.2s;
  width: 220px;
  padding: 0.8rem;
  font-size: 0.9rem;
  display: flex;             
  flex-direction: column;   
  justify-content: space-between; 
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.705);
}
.btn_carrito {
  margin-top: auto;  
  text-align: center;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
}
.btn_carrito:hover {
  background: #0056b3;
  cursor: pointer;
  transition: ease 0.3s;
}
.img_carrito{
    vertical-align: -5px;
    margin-left: 8px;

}
.img_product {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.iconAside{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
.footer{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.331);
    padding: 10px;
    margin-top:30px;
    color: rgba(0, 0, 0, 0.683);
    font-weight:lighter;
    margin-bottom:0px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 1.5rem; 
  padding: 2rem;
  justify-content: center;
}
.producto1 { grid-area: 1 / 1 / 2 / 2; }
.producto2 { grid-area: 1 / 2 / 2 / 3; }
.producto3 { grid-area: 1 / 3 / 2 / 4; }
.producto4 { grid-area: 2 / 1 / 3 / 2; }
.producto5 { grid-area: 2 / 2 / 3 / 3; }
.producto6 { grid-area: 2 / 3 / 3 / 4; }
.producto7 { grid-area: 3 / 1 / 4 / 2; }
.producto8 { grid-area: 3 / 2 / 4 / 3; }
